@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor_1: #BF75B3;
    --cor_2: #A884BF;
    --cor_3: #177FBF;
    --cor_4: #0F8DBF;
    --cor_5: #0D0D0D;


}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cor_2);
    min-width: 640px;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--dark);
}

.conteiner {
    width: 80vw;
    margin: 0 auto;
    min-height: 100vw;
    position: relative;
    height: 100%;
}

.areaesquerda {
    width: 18vw;
    background-color: white;
    height: 100%;
    padding: 1.5rem;
    top: 0px;
    z-index: 1;
    position: fixed;
}

.logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 50%;
    margin-bottom: 5px;
}

.logo_rep {
    width: 100%;
    margin-top: 5px;
}

.logo img,
.logo_rep img {
    width: 100%;
    border-radius: 5px;
}
.menu p {
    margin-bottom: 1rem;
}

.menu img {
    width: 20px;
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
}

.menu a {
    font-size: 20px;
    vertical-align: middle;
}

.social img {
    width: 30px;
    display: inline-block;
    margin-right: 10px;
}

.areadireita {
    width: 62vw;
    height: 100%;
    left: 9.4vw;
    margin-left: 18vw;
    z-index: 2;
    background-color:white;
    top: 0px;
    position: fixed;
    padding: 1.5rem;
    grid-template-areas:
        "cabecalho"
        "sobre"
}

#doar {
    font-weight: bold;
    text-decoration: underline;
}

.subsecao {
    text-align: justify;
}

.conteudo-secao p {
    text-align: justify;
    margin: 0;
}

#link {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

#link:hover {
    color: #0056b3;
}

#pagina-atual {
    color: var(--cor_3);
    font-weight: bold;
}

div.cabecalho {
    grid-area: cabecalho;
}

div.sobre {
    grid-area: sobre;
}

div.contato {
    grid-area: contato;
}

div.rodape {
    grid-area: rodape;
}

.areadireita h1 b {
    font-size: 3rem;
    color: var(--dark);
}

.areadireita hr {
    border: 0;
    height: 8px;
    background-color: #ddd;
    margin: 15px 0;

}

.progresso {
    height: 3vw;
    width: 100%;
    background-color: #ddd;
}

.progresso div {
    background-color: var(--dark);
    height: 3vw;
    display: inline-block;
    color: white;
    line-height: 3vw;
    text-align: center;
}

.titulo-secao {
    margin: 1rem 0;
}


.depoimentos .conteudo-secao {
    background-color: #888;
    padding: 1.5rem;
    color: white;
}

.depoimentos a {
    color: white;
}

.depoimentos label {
    font-size: 1vw;
}

.depoimentos input,
.depoimentos select,
.depoimentos textarea {
    padding: 8px;
    font-size: 1vw;
    font-family: 'Montserrat';
    width: 100%;
}

.btn {
    background-color: var(--cor_4);
    color: white;
    padding: 15px 30px;
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 1.3vw;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--cor_3);
    color: var(white);   
    outline: solid 1px var(--dark);
    outline-offset: -1;
}

.rodape {
    text-align: center;
    color: white;
    font-size: 1.3vw;
}

@media screen and ( max-width: 1280px ) {
    .areaesquerda {
        position: static;
        width: 80vw;
        height: auto;
    }

    .areaesquerda .brand {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .areaesquerda .menu {
        display: flex;
        gap: 1rem;
        margin-bottom: 3vw;
    }

    .areaesquerda .menu img {
        width: 2.5vw;
        margin-right: 0.6vw;
    }

    .areaesquerda .menu a {
        font-size: 2.5vw;
    }

    .areaesquerda h2 {
        vertical-align: top;
        margin: 0;
        font-size: 6vw;
    }

    .areaesquerda .logo {
        width: 20vw;
        border-radius: 10px;
    }

    .cabecalho {
        display: none;
    }

    #subtituloPrincipal {
        text-align: center;
        margin: 0 auto;
    }

    .areadireita {
        width: 80vw;
        padding: 0;
        position: static;
        padding-top: 0.5rem
    }

    .sobre .hero {
        grid-template-columns: 1fr 1fr;
    }

    .sobre .hero img {
        width: 100%;
        height: auto;
    }

    .sobre .hero .texto h2 {
        font-size: 2.5vw;
    }

    .card {
        width: calc(50% - 0.75rem);
    }

    .contato input,
    .contato select,
    .contato textarea,
    .contato label,
    .btn {
        font-size: 2vw;
    }

    .rodape {
        font-size: 2vw;
    }
}