a, p {
    font-size: 20px;
}

h3 {
    font-size: 25px;
}

#p-inicial {
    text-align: justify;
}

.navbar img {
    width: 50px;
}

.navbar a,
h3,
.navbar span {
    color: #44BBA4;
}

.navbar a {
    font-size: 22px;
}

.sobre img {
    width: 350px;
    height: 350px;
    border-radius: 30px;
    object-fit: cover;
}

.sobre h3 {
    font-weight: bolder;
    text-transform: uppercase;
}


.depoimentos {
    background-color: #44BBA4;
}

.depoimentos h3 {
    color: #393E41;
}

.depoimentos p {
    color: white;
}

#inst-beneficiadas a {
    text-decoration: none;
    color: #000;
}

#inst-beneficiadas a:hover {
    color:  #44BBA4;
}

#inst-beneficiadas .btn {
    background-color: white;
    color: dark;
    border-style: solid;
    border-color: white;
    padding: 1vw;
}

.btn {
    background-color: #44BBA4;
    color: white;
    border-style: solid;
    border-color: #44BBA4;
}

.btn:hover {
    background-color: #153b34;
    color: white;
}

.footer,
.footer a {
    color: #E7E5DF;
}

.footer {
    min-height: 300px;
    background-color: #E7BB41;
    box-shadow: 5px 5px 10px black;
    position: relative;
    z-index: 2;
}

.footer img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    object-fit: fill;
}
